---
import "../styles/style.css";
import Navigation from "../components/Navigation.astro"
import Banner from "../components/Banner.astro"
import MainLayout from "../layouts/MainLayout.astro"
import Ticket from "../components/Ticket.astro"
import Popular from "../components/Popular.astro"
import Button from "../components/Button.astro"
import Whatis from "../components/Whatis.astro"

---

<MainLayout>
<main>
<Banner />

<Button variant="primary" size="medium">BUY TICKETS</Button>
<section>

</section>

<Whatis/>

<section class="speakers">
	<h2>
		Speakers
	</h2>
	<Button variant="speakers" size="medium">EXPLORE SPEAKERS</Button>
	<p>See our amazing speakers announced for UX Copenhagen 2024</p>
	<figure>
		<img src="#" alt="">
	</figure>
</section>



<div class="flexbox">

<Ticket h2="ON-SITE TICKET"/>

<Ticket h2="ONLINE TICKET">
	<Popular />
</Ticket>

<Ticket h2="GROUP TICKET" />
</div>
</MainLayout>