---
import "../styles/style.css";
import Navigation from "../components/Navigation.astro"
import Banner from "../components/Banner.astro"
import MainLayout from "../layouts/MainLayout.astro"
import Ticket from "../components/Ticket.astro"
import Popular from "../components/Popular.astro"
import Button from "../components/Button.astro"
import Whatis from "../components/Whatis.astro"
import Explorespeakers from "../components/Explorespeakers.astro"
import T2024 from "../components/T2024.astro"
---

<MainLayout>
<main>
<Banner />

<section class="button_top">
<Button variant="primary" size="medium">BUY TICKETS</Button>
</section>

<Whatis/>

<Explorespeakers/>

<T2024/>

<div class="flexbox">

<Ticket h2="ON-SITE TICKET"/>

<Ticket h2="ONLINE TICKET">
	<Popular />
</Ticket>

<Ticket h2="GROUP TICKET" />
</div>
</MainLayout>


<style>
.button_top{
display: flex;
justify-content: center;
padding: 5% 0% 5% 0%;
}
</style>