---

---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
<section class="navigation">
	<article>
	<a href="#">
		<img src="#" alt="logo">
	</article>
	<article>
		<ul>
			<li><a href="#">Tickets</a></li>
			<li><a href="#">Speakers</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Previous Years</a></li>
		</ul>
		<div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
	</article>
</section>


<section class="banner">
	<article>
		<h2>UX Copenhagen</h2>
		<h3>20-21 March</h3>
	</article>
</section>

<section>
	<button>Buy tickets</button>
</section>

<section class="whatis">
	<h2>
		WHAT IS UX COPENHAGEN?
	</h2>
	<p>
		UX Copenhagen is Denmarks most inspirational human experience conference!
	</p>
	<p>The theme for UX Copenhagen 2024 is “Degrowth & Consumerism”. </p>
	<p>For far too long, we have been living in a world that applauds and encourages continuous growth, expansion, selling, and manipulation. It’s a world of over.</p>
</section>

<section class="speakers">
	<h2>
		Speakers
	</h2>
	<p>See our amazing speakers announced for UX Copenhagen 2024</p>
	<figure>
		<img src="#" alt="">
	</figure>
</section>

<section class="tickets">
	<h2>
		Tickets for 2024
	</h2>
	<article>
		<h3>
			20-21 marts 2024
		</h3>
		<h4>
			Online ticket
		</h4>
		<figure>
			<img src="#" alt="">
			<h5>Copenhagen</h5>
		</figure>
		<button>Buy tickets</button>
		<figure class="ticket_banner">
		<h6>Poplular</h6>
		</figure>
	</article>
</section>

	</body>
=======
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
  </body>
>>>>>>> c1aead7bffe1f853fdb3747613f50504c88ccfe7
</html>
