---
import "../styles/style.css";
import Navigation from "../components/Navigation.astro";
const data = await fetch("https://guxntefulwidsldenixo.supabase.co/rest/v1/speakers_ux_cph", {
	method:"GET",
	headers: {
		apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd1eG50ZWZ1bHdpZHNsZGVuaXhvIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTY1ODQ3MDEsImV4cCI6MjAxMjE2MDcwMX0.1SvzDoE_3eLOMgQNAxNtYIdiE6wCaZIzPeJSjTSfmYQ"
	}
}).then(res=>res.json())

console.log(data)
---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
<header>
	<Navigation />
</header>
		<img src="#" alt="">
	<section>
		<h1>NAME</h1>
		<h2>POSITION</h2>
		<h3>Company</h3>
		<h4>Area</h4>
		<p>Description</p>
	</section>
	<section class="socials">
		<img src="#" alt="">
		<img src="#" alt="">
		<img src="#" alt="">
	</section>
	<section class="arrows">
		<img src="#" alt="">
		<img src="#" alt="">
	</section>
	</body>
</html>
