---
---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<section>
			<header>
				<h1>UX Copenhagen Speakers</h1>
				<h2>2024</h2>
			</header>
		</section>
		<section class="listeview">
			<article>
				<img src="#" alt="">
				<h3>Navn</h3>
				<h4>Position</h4>
				<h5>Firma</h5>
			</article>
		</section>
	</body>
</html>
