---
import "../styles/style.css";
import Navigation from "../components/Navigation.astro";

export async function getStaticPaths() {
	const url = "https://guxntefulwidsldenixo.supabase.co/rest/v1/speakers_ux_cph";

	const options= {
		headers: {
		apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd1eG50ZWZ1bHdpZHNsZGVuaXhvIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTY1ODQ3MDEsImV4cCI6MjAxMjE2MDcwMX0.1SvzDoE_3eLOMgQNAxNtYIdiE6wCaZIzPeJSjTSfmYQ"}
};

const data = await fetch(url, options).then(response => response.json());

return data.map((ret) => {
	return {
		params: { slug: ret.slug},
		props: { ret },
	};
});
}
const { ret } = Astro.props
---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
<header>
	<Navigation />
</header>
		<img src="#" alt="">
	<section>
		<h1>NAVN</h1>
		<h2>Position</h2>
		<h3>Firma</h3>
		<h4>Område</h4>
		<p>Beskrivelse af personen</p>
	</section>
	<section class="socials">
		<img src="#" alt="">
		<img src="#" alt="">
		<img src="#" alt="">
	</section>
	<section class="arrows">
		<img src="#" alt="">
		<img src="#" alt="">
	</section>
	</body>
</html>
