---

---

<section class="banner">
	<article>
        <img src="/photos/ux_banner.webp" alt="">
        <div class="grid_2">
            <div>
		        <h2>UX Copenhagen</h2>
		        <h3>20-21 March</h3>
            </div>
            <div>
                <h1>Degrowth & consumerism</h1>
                <h2>2024</h2>
                <h3>Hamborg Plads 6, nordhavn</h3>
            </div>
        </div>
	</article>
</section>


<style>
img{
        object-fit: cover;
        width: 100%;
        height: auto;
 }
.grid_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
</style>