---
import Button from "./Button.astro";
---
<section class="grid_1-1">
    <div class="text">
	<h2>
		Speakers
	</h2>
	<p>See our amazing speakers announced for UX Copenhagen 2024</p>
    <Button variant="speakers" size="medium">EXPLORE SPEAKERS</Button>
	</div>
    <figure>
		<img src="/photos/ux_2.webp" alt="">
	</figure>
</section>

<style>
.grid_1-1{
    display: grid;
  grid-template-columns: 1fr 1fr;
}
.text{
    text-align: center;
    margin-top: 10%;
}
img{
    margin-top: 10%;
}
</style>