 <footer>
        <div>
            <div class="contentfooter">
                <h3>ADRESS</h3>
                <p>Hamborg Plads 6 Nordhavn</p>
                <p>2150 København</p>
            </div>
            <div class="contentfooter">
                <h3>CONTACT</h3>
                <p>+ 45 12 34 56 78</p>
                <p>uxcopenhagen.com</p>
            </div>
        </div>
        <div class="contentfooter">
            <h3>DATES</h3>
            <p>20-21. March</p>
        </div>
        <div>
            <h3>UX COPENHAGEN</h3>
            <div>
                <h3>SOCIAL</h3>
                <a href="https://www.instagram.com/UXCopenhagen/"><img src="/imgs/instlogo.png" alt="instagram logo"></a>
                <a href="https://www.facebook.com/uxcopenhagen"><img src="/imgs/facelogo.png"
                        alt="facebook logo"></a>
            </div>
        </div>
    </footer>