---
---
<section>
    <h1>WHAT IS UX COPENHAGEN?</h1>
    <p>
		UX Copenhagen is Denmarks most inspirational human experience conference!
	</p>
    	<p>The theme for UX Copenhagen 2024 is “Degrowth & Consumerism”. </p>
	<p>For far too long, we have been living in a world that applauds and encourages continuous <br> growth, expansion, selling, and manipulation. It’s a world of over.</p>
</section>

<style>
    h1{
        text-align: center;
        font-size: 4rem;
    }
    p{
        font-size: 1.35rem;
        margin-left: 15%;

    }
</style>